@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');
$mainBackground: #F1EDE8;
$modal: #dfd8c8;
$silk: #dcd0c0;
$forest: #1A291B;
$light-forest: #283E29;
$charcoal: #41444b;
$lightChar: #52575d;
$opacity: 0.77;
$goldShadow: #b7af94;

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", monospace;
}

html {
  height: 100%;
}

body {
  background-color: $mainBackground;
  height: 100%;
}

#root {
  height: 100%;
}

.main {
  height: 100%;
}
/* HEADER */

header {
  background-color: $charcoal;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 3fr 1fr;
  height: 64px;
  color: $forest;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  a {
    color: $forest;
    text-decoration: none;
  }

  a:visited {
    color: $forest;
  }

  .title {
    display: flex;
    align-items: center;
    opacity: $opacity;

    h1 {
      display: inline-block;
      margin-left: 2rem;
      font-size: 1.7rem;
    }
  }

  .headerNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: $opacity;
    h1 {
      margin-right: 2rem;
      display: inline-block;
      font-size: 1.5rem;
      text-align: right;
    }
    svg {
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 1.5rem;
    }
  }
}

/* HOME */

.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginBody {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vh;
  height: auto;
  padding: 30px;
  border-radius: 12px;
  color: $forest;
  text-align: center;

  button {
    background-color: $lightChar;
    color: $forest;
    border: none;
    border-radius: 3px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    padding: 20px 27px;
    margin: 20px 15px 0 15px;
    width: 138px;
    border-radius: 3px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    text-align: left;
    h2 {
      margin-bottom: 10px;
    }
  }

  input {
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 25px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    height: 60px;
    background-color: $lightChar;
    border: none;
    color: $forest;
    border-radius: 3px;
  }
  input:focus {
    outline: none;
  }
}

.formBottom {
  text-align: center;

  p {
    margin-top: 20px;
    display: block;
  }
}

.introText {
  margin: 15px 0 30px;
  padding: 0 20px 0 20px;
  width: 500px;
  height: 500px;
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 14px;
    margin-top: 30px;
    text-align: left;
    font-family: "Josefin Sans", monospace
  }
}
.lastIntroBodyText {
  text-align: center !important;
}

.introBodyText{
  padding: 0 40px 0 40px;
}



.introAccButtons {
  display: flex;
  justify-content: space-between;
  button {
    background-color: $light-forest;
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin-top: 20px;
    width: 130px;
    height: 35px;
    font-family: "Josefin Sans", monospace;
    color: white;
  }

  button:hover {
    background-color: $forest;
    box-shadow: 5px 5px 3px rgb(0 0 0 / 25%);
  }
}

.introGuestAccText {
  margin-top: 30px;
  a {
    color: $forest;
    font-size: 20px;
    text-decoration: underline;
  }
}

.loginTitle {
  width: 100%;
  text-align: center;
}

.loginChange {
  width: 100%;
  text-align: right;
  float: bottom;
}

/* SPREAD MENU */

.spreadMenuWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spreadSelect {
  display: flex;
  flex-direction: row;
}

.spreadCard {
  text-align: center;
  background-color: $modal;
  width: 275px;
  height: 470px;
  border-radius: 12px;
  padding: 30px;
  margin: 25px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  img {
    fill: $charcoal;
    height: 60.2px;
    width: 43px;
  }
  p {
    color: $charcoal;
    font-size: 14px;
    margin-top: 20px;
  }
}

.spreadPreviewGD {
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      width: 30px;
    }
  }

  .row2 {
    text-align: center;
  }
}

.spreadPreviewRel {
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      width: 43px;
    }
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.spreadPreviewPPF {
  .row1 {
    div {
      height: 60px;
      width: 43px;
    }
  }
}

/* SPREAD */

.spreadWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  img {
    height: 204px;
    width: 145px;
    border-radius: 6px;
    margin: 0 11px;
  }
}

.spreadGD {
  .triadWrap {
    text-align: center;
  }

  .triad {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  .row1,
  .row2,
  .row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .spacer {
      width: 440px;
    }
  }
}

.spreadUtil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: $modal;
  color: $charcoal;
  width: 375px;
  padding: 5px 0;
  border-radius: 3px;
  font-size: 11px;
  box-shadow: 0px 1px 16px 0px $charcoal;
  .utilButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 15px;
  }

  .utilButtonInactive {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 15px;
    opacity: 70%;
  }

  svg {
    color: $charcoal;
    font-size: 32px;
    margin: 0 7px;
  }
}

/* DICTIONARY MENU */

.dictMenuWrapper {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr 0.5fr 0.7fr 0.5fr 1fr;
  grid-template-areas:
    ". . swords . ."
    ". wands majArcana disks ."
    ". . cups . .";

  text-align: center;
  margin-top: 2rem;

  a {
    color: $charcoal;
  }

  a:visited {
    color: $charcoal;
  }

  .dictSwords {
    grid-area: swords;
  }

  .dictWands {
    grid-area: wands;
  }

  .dictArcana {
    grid-area: majArcana;
  }

  .dictCups {
    grid-area: cups;
  }

  .dictDisks {
    grid-area: disks;
  }

  img {
    width: 160px;
    height: 240px;
    border: 1px solid $charcoal;
  }

  h3 {
    margin-top: 3px;
    text-decoration: underline;
  }
}

/* DICTIONARY */

.dictWrapper {
  margin-top: 30px;

  h1 {
    text-align: center;
    text-decoration: underline;
  }
}

.dictCardsWrapper {
  margin-top: 20px;
  padding: 0 11rem 0 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  img {
    width: 180px;
    height: 280px;
    border: 1px solid $charcoal;
    border-radius: 5px;
  }
}

.dictCard {
  margin: 20px;
  text-align: center;
  color: $charcoal;
  text-decoration: underline;
  h3 {
    margin-bottom: 5px;
  }
}

/* READ HISTORY */

.historyWrapper {
  margin-top: 50px;
  text-align: center;
}

.histories {
  margin-top: 50px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  background-color: $silk;
  height: 320px;
  width: 400px;
  border-radius: 3px;
  box-shadow: 7px 7px 15px rgba(55, 55, 55, 0.5);
}

.previewWrapper {
  display: flex;
  justify-content: center;
}

.historyPreview {
  height: 215px;
  width: 330px;
  background-position: 0 -90px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  border: 2px solid $silk;
  box-shadow: 7px 7px 15px rgba(55, 55, 55, 0.5);
}

.timestamp {
  margin-top: 20px;
  font-size: 20px;
}

/* SHORT DESCRIPTION MODAL */

.shortDescModal {
  background-color: $silk;
  color: $charcoal;
  text-align: center;
  border: 1px solid $charcoal;
  width: 350px;
  padding: 11px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  p {
    margin-bottom: 7px;
  }

  a {
    text-decoration: underline;
  }
}

/* LONG DESCRIPTION MODAL */

.longDescWrapper {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(55, 55, 55, 0.6);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.longDescModal {
  display: flex;
  flex-direction: column;
  background-color: $silk;
  color: $charcoal;
  width: 400px;
  height: 70vh;
  align-self: center;
  overflow: auto;
  border-left: 1px solid $charcoal;
  border-top: 1px solid $charcoal;
  border-bottom: 1px solid $charcoal;
  padding: 30px;
  text-align: center;
  img {
    width: 280px;
    height: 420px;
    border: 1px solid $charcoal;
  }
  h1 {
    text-decoration: underline;
  }
}
.longDescImg {
  margin-top: 40px;
}

.longDescBody {
  margin-top: 30px;
  text-align: left;

  p {
    margin-top: 20px;
    font-size: 20px;
  }
}

/* USER DROP MODAL */
.userDrop {
  position: absolute;
  top: 73px;
  right: 0;
  border-radius: 0 0 0 3px;
  background-color: rgba(55, 55, 55, 0.9);
  padding: 11px 28px 11px 28px;
}

.userDropBody {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $forest;
    margin-bottom: 12px;
    font-size: 20px;
  }

  a:visited {
    color: $forest;
  }
}

/* NOTIFICATIONS */

.notifyModal {
  position: absolute;
  left: 50%;
  top: 6em;
  transform: translate(-50%, -50%);
  background: $modal;
  font-size: 12px;
  color: $charcoal;
  width: 300px;
  padding: 30px 15px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
}